@page
@using System.Data;
@using new_site;
@using new_site.Pages;
@using new_site.DataModel;

@model new_site.Pages.ShowModel  // The PageModel class providing data to this view

@{
    ViewData["Title"] = "ShowTable.";
    Layout = "_LayoutA";  // Using a custom layout called _LayoutA
}

<style>
    /* Styling table cells */
    td {
        padding: 7px;
        text-align: center;
        font-size: 0.9vw;
    }
    /* Styling table headers */
    th {
        text-align: center;
        font-size: 1.4vw;
        font-family: 'Agency FB';
        padding: 12px;
    }
</style>

<div style="background-color:antiquewhite; border: solid 2px; margin:auto; padding:15px; width: 60%;">
    <table class="table table-striped shadow table-sm" style="margin:auto;">
        <thead class="table-info">
            <tr>
                @* Loop over columns to display column headers *@
                @foreach (string displayColumn in @Model.DisplayColumns)
                {
                    // Skip the "Prefix" column in the header
                    if (displayColumn.Equals("Prefix"))
                    {
                        continue;
                    }
                    else
                    {
                        <th style="border:solid 1px;" scope="col">@displayColumn</th>
                    }
                }
            </tr>
        </thead>

        <tbody class="table-group-divider">
            @* Loop over each row in the DataTableUsers from the model *@
            @foreach (DataRow row in Model.DataTableUsers.Rows)
            {
                <tr>
                    @* Loop over each column in the DataTableUsers columns *@
                    @foreach (DataColumn column in Model.DataTableUsers.Columns)
                    {
                        // Skip the "prefix" column here because prefix is shown combined with phone below
                        if (column.ColumnName.Equals("prefix"))
                        {
                            continue;
                        }
                        else if (column.ColumnName.Equals("phone"))
                        {
                            // For phone column, display prefix and phone number combined with a hyphen
                            <td>@row["prefix"]-@row[column.ColumnName]</td>
                        }
                        else
                        {
                            // For other columns, just display the cell value normally
                            <td>@row[column.ColumnName]</td>
                        }
                    }
                </tr>
            }
        </tbody>

        <tfoot class="table-group-divider">
            <tr>
                <td class="table-info" scope="row" colspan="100" style="text-align:center">
                    Total @Model.DataTableUsers.Rows.Count users
                </td>
            </tr>
            <tr>
                <td class="table-info" scope="row" colspan="100" style="text-align:center">
                    @Model.sqlQuery
                </td>
            </tr>
        </tfoot>
    </table>
</div>
